{% extends '@Layouts/backendFrame.html.twig' %}
{% block page_header %}
    <h1>用户管理<small>创建</small></h1>

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">添加用户</h3>
                </div>
                <form class="form-horizontal" id="user-form" name="user-form" method="post" enctype="application/x-www-form-urlencoded" action="{{ path('bapi_post_user') }}">

                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-9">
                                <input type="text" name="userName" class="form-control" value="" id="user_name" placeholder="用户名" required>
                                <span class="help-block name-msg"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="route" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-9">
                                <input maxlength="10" value="" type="text" name="planPassword" class="form-control" id="route" placeholder="密码" required>
                                <span class="help-block route-msg">6-12位字母数字组合</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="is_active" class="col-md-2 control-label">状态</label>
                            <div class="col-md-9">
                                <select id="" class="form-control" name="isActive" id="isActive">
                                    <option value="0">禁用</option>
                                    <option value="1" selected>启用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="_role" class="col-md-2 control-label">角色</label>
                            <div class="col-md-9">
                                <select id="" class="form-control" name="role" id="role">
                                    <option value="ROLE_USER" selected>普通编辑</option>
                                    <option value="ROLE_USER,ROLE_ADMIN">管理员</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button id="save" type="submit" class="btn btn-info">保存</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('plugins/jquery.form.js','frontend') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#save').on('click',function () {
                var _index = layer.load(1, {
                    shade: [0.1,'#fff'] //0.1透明度的白色背景
                });
                $('#user-form').ajaxForm({
                    type:'POST',
                    statusCode:{
                        204:function (res) {
                            layer.close(_index)
                            var index=layer.msg('添加成功');
                            setTimeout("location.href='{{ path('b_user_list') }}'",1000)
                        },
                        400:function (res) {
                            layer.close(_index)
                            var msg = res.responseJSON.message
                            if((typeof msg)==='string'){
                                layer.msg(msg)
                            }else {
                                for(var i in msg){
                                    layer.msg(msg[i])
                                    return
                                }
                            }
                        },
                        403: function () {
                            layer.close(_index)
                            layer.msg('无权限')
                        },
                        500:function () {
                            layer.close(_index)
                            layer.msg('服务器出错了')
                        }
                    }
                })
            })
        });
    </script>
{% endblock %}
