<div class="window-bin" data-hash="about">
  <div class="window-back swiper-lazy" data-title="关于" data-background="{{ asset('static/images/wp7.jpg','frontend') }}">
    <div class="table-box">
      <div class="table-cell">

        <div class="about-nav swiper-no-swiping">
          <ul></ul>
        </div>

        <div class="about-box">
          <div class="about-cut">

            <div class="about-bin" title="关于"><p class="about-titless">盟邑数字科技</p><p>上海盟邑数字科技有限公司是一家互动多媒体制作公司，为不同行业客户提供基于互动多媒体的整体解决方案。公司拥有多名专业的数字技术工程师，专注触摸屏应用、软件开发、课件制作、VR游戏、三维影片、flash游戏等，系统地为企业、展厅、展馆、规划馆、博物馆、档案馆等提供互动多媒体服务。</p></div>
				
			<div class="about-bin" title="思想"><p class="about-sxtitle">厚积薄发</p><p>登上峰顶，不是为了饱览风光，是为了寻找更高的山峰<br/>日出东方，告别了昨天的荣耀，将光芒照向更远的地方<br/>一路上，我们更在意如何积累和沉淀</p><p class="about-sixiang">下一秒，让你看，我们到底有多强</p></div>
			
            <div class="about-bin" title="荣誉"><p class="about-titless">立足当下，放眼未来</p><div class="about-time"><p>2011年 - Adobe软件认证证书</p><p>2012年 - 上海数字内容产业协会会员单位</p><p>2014年 - 软件企业认定证书</p><p>2015年 - 高新技术企业证书</p><p>2017年 - 已拥有自主知识产权，国家软件著作权达12项之多</p></div></div>

          </div>
        </div>
        <div class="about-bottom">
          <ul class="about-ul">

            <li class="about-li"><b>418</b>位政企客户信赖之选</li>

            <li class="about-li"><b>2012</b>上海数字内容产业协会会员单位</li>

            <li class="about-li"><b>2014</b>软件企业认定证书</li>

            <li class="about-li"><b>2015</b>高新技术企业证书</li>

            <li class="about-li"><b>12</b>项国家软件著作权</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>