<div class="window-bin" data-hash="about">
  <div class="window-back swiper-lazy" data-title="关于" data-background="{{ asset('static/images/wp7.jpg','frontend') }}">
    <div class="table-box">
      <div class="table-cell">

        <div class="about-nav swiper-no-swiping">
          <ul></ul>
        </div>

        <div class="about-box">
          <div class="about-cut">

            <div class="about-bin" title="思想"><p class="about-sxtitle">厚积薄发</p><p>登上峰顶，不是为了饱览风光，是为了寻找更高的山峰<br/>日出东方，告别了昨天的荣耀，将光芒照向更远的地方<br/>一路上，我们更在意如何积累和沉淀</p><p class="about-sixiang">下一秒，让你看，我们到底有多强</p></div>

            <div class="about-bin" title="关于"><p class="about-titless">互联网+</p><p>“互联网+”是创新2.0下的互联网发展的新业态，是知识社会创新2.0推动下的互联网形态演进及其催生的经济社会发展新形态。“互联网+”是互联网思维的进一步实践成果，推动经济形态不断地发生演变，从而带动社会经济实体的生命力，为改革、创新、发展提供广阔的网络平台。</p></div>

            <div class="about-bin" title="荣誉"><p class="about-titless">放下荣誉，放眼未来</p><div class="about-time"><p>2009年<span style="text-decoration:underline;">-</span>荣获广东省创新企业</p><p>2010年<span style="text-decoration:underline;">-</span>设计联盟评选为金牌设计企业</p><p>2011年<span style="text-decoration:underline;">-</span>荣获中关村高新技术企业</p><p>2012年<span style="text-decoration:underline;">-</span>成功注册 &quot; 互联网+ &quot; 商标，树立品牌</p><p>2013年<span style="text-decoration:underline;">-</span>已拥有自主知识产权，国家软件著作权达12项之多</p></div></div>

          </div>
        </div>
        <div class="about-bottom">
          <ul class="about-ul">

            <li class="about-li"><b>611</b>位企业客户信赖之选</li>

            <li class="about-li"><b>267</b>上市/集团企业设计作品</li>

            <li class="about-li"><b>2010</b>年度金牌设计企业</li>

            <li class="about-li"><b>12</b>项国家软件著作权</li>

            <li class="about-li"><b>96%</b>以上的客户续费率</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>