<div class="window-bin">
  <div class="window-back swiper-lazy" data-background="{{ asset('static/images/wp9.jpg','frontend') }}">
    <div class="table-box">
      <div class="table-cell">
        <div class="box-link">
          <span class="title">友情链接</span>
          <ul>
			<li><a href="../case/touch" target="_blank">三维动画</a></li>
			<li><a href="../case/touch" target="_blank">上海三维动画公司</a></li>
			<li><a href="../case/touch" target="_blank">二维动画</a></li>
			<li><a href="../case/touch" target="_blank">flash动画</a></li>
			<li><a href="../case/touch" target="_blank">课件定制</a></li>
			<li><a href="../case/touch" target="_blank">上海互动多媒体</a></li>
			<li><a href="../case/touch" target="_blank">上海多媒体互动</a></li>
			<li><a href="../case/touch" target="_blank">上海触摸屏制作</a></li>
			<li><a href="../case/touch" target="_blank">触摸屏应用开发</a></li>
			<li><a href="../case/touch" target="_blank">体感互动</a></li>
			<li><a href="../case/touch" target="_blank">投影互动</a></li>
			<li><a href="../case/touch" target="_blank">上海视频拍摄公司</a></li>
            <li><a href="../case/touch" target="_blank">上海视频制作</a></li>
            <li><a href="../case/touch" target="_blank">视频剪辑公司</a></li>
            <li><a href="../case/touch" target="_blank">触摸屏定制</a></li>
            <li><a href="../case/touch" target="_blank">应用软件开发</a></li>
            <li><a href="../case/touch" target="_blank">课件软件制作</a></li>
            <li><a href="../case/touch" target="_blank">vr三维游戏</a></li>
            <li><a href="../case/touch" target="_blank">vr虚拟现实</a></li>
            <li><a href="../case/touch" target="_blank">vr立体影片</a></li>
            <li><a href="../case/touch" target="_blank">二维游戏</a></li>
			<li><a href="../case/touch" target="_blank">flash游戏</a></li>
            <li><a href="../case/touch" target="_blank">led拼接屏</a></li>
            <li><a href="../case/touch" target="_blank">投影互动</a></li>
            <li><a href="../case/touch" target="_blank">苹果应用开发</a></li>
            <li><a href="../case/touch" target="_blank">安卓应用开发</a></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>