<div class="window-bin" data-hash="mark">
  <div class="window-back swiper-lazy" data-title="流程" data-background="{{ asset('static/images/wp6.jpg','frontend') }}">
    {#<div class="mark-ctrl">
      <div class="ctrl-box ctrl-left"><i class="fa fa-angle-left"></i></div>
      <div class="ctrl-box ctrl-right"><i class="fa fa-angle-right"></i></div>
    </div>#}
    <div class="table-box">
      <div class="table-cell">

        <div class="title-box">
          <h1>PROCESS</h1>
          <h2>创作流程</h2>
        </div>

        <div class="mark-box mark-type-0">
          <div class="mark-cut">

            <div class="mark-bin">
              <a title="需求沟通" >

                <i class="fa fa-comments"></i>

                <h3>1，需求沟通</h3>
                <p>初步了解<br>大致想法和需求</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="脚本创作" >

                <i class="fa fa-file-text"></i>

                <h3>2，脚本创作</h3>
                <p>开始创作脚本<br>脚本创作满意为止</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="录制配音" >

                <i class="fa fa-microphone"></i>

                <h3>3，录制配音</h3>
                <p>提供2-3个样音<br>选择最佳配音演员</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="制作分镜" >

                <i class="fa fa-paint-brush"></i>

                <h3>4，制作分镜</h3>
                <p>原画师量身绘制<br>提前了解最终效果</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="设计阶段" >

                <i class="fa fa-picture-o"></i>

                <h3>5，设计阶段</h3>
                <p>分镜确认后<br>开始制作设计稿</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="完成动画" >

                <i class="fa fa-youtube-play"></i>

                <h3>6，完成动画</h3>
                <p>动画师制作动画<br>获得满意作品</p>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>