<div class="window-bin" data-hash="mark">
  <div class="window-back swiper-lazy" data-title="流程" data-background="{{ asset('static/images/wp6.jpg','frontend') }}">
    {#<div class="mark-ctrl">
      <div class="ctrl-box ctrl-left"><i class="fa fa-angle-left"></i></div>
      <div class="ctrl-box ctrl-right"><i class="fa fa-angle-right"></i></div>
    </div>#}
    <div class="table-box">
      <div class="table-cell">

        <div class="title-box">
          <h1>PROCESS</h1>
          <h2>创作流程</h2>
        </div>

        <div class="mark-box mark-type-0">
          <div class="mark-cut">

            <div class="mark-bin">
              <a title="需求沟通" >

                <i class="fa fa-comments"></i>

                <h3>1/6：需求沟通</h3>
                <p>1对1沟通<br>详细了解制作需求</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="创意策划" >

                <i class="fa fa-file-text"></i>

                <h3>2/6：创意策划</h3>
                <p>提供免费创意策划<br>并提出合理建议</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="录制配音" >

                <i class="fa fa-microphone"></i>

                <h3>3/6：录制配音</h3>
                <p>提供2-3个样音<br>选择最佳配音演员</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="执行方案" >

                <i class="fa fa-paint-brush"></i>

                <h3>4/6：执行方案</h3>
                <p>原画师量身绘制<br>提前了解最终效果</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="设计阶段" >

                <i class="fa fa-picture-o"></i>

                <h3>5/6：设计阶段</h3>
                <p>分镜确认后<br>开始制作设计稿</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="完成动画" >

                <i class="fa fa-youtube-play"></i>

                <h3>6/6，完成动画</h3>
                <p>动画师制作动画<br>获得满意作品</p>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>