<div class="window-bin" data-hash="mark">
  <div class="window-back swiper-lazy" data-title="增值" data-background="{{ asset('static/images/wp6.jpg','frontend') }}">
    {#<div class="mark-ctrl">
      <div class="ctrl-box ctrl-left"><i class="fa fa-angle-left"></i></div>
      <div class="ctrl-box ctrl-right"><i class="fa fa-angle-right"></i></div>
    </div>#}
    <div class="table-box">
      <div class="table-cell">

        <div class="title-box">
          <h1>MARKETING</h1>
          <h2>整合营销，抢占商机</h2>
        </div>

        <div class="mark-box mark-type-0">
          <div class="mark-cut">

            <div class="mark-bin">
              <a title="搜索引擎" >

                <i class="fa fa-google-plus"></i>

                <h3>搜索引擎</h3>
                <p>SEO 优化<br>搜索引擎竞价</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="微信营销" >

                <i class="fa fa-wechat"></i>

                <h3>微信营销</h3>
                <p>公众账号 / 微网站<br>微盟 ( 微社区 )</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="微博营销" >

                <i class="fa fa-weibo"></i>

                <h3>微博营销</h3>
                <p>企业蓝V认证<br>官方微博接入网站</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="消息推送" >

                <i class="fa fa-commenting-o"></i>

                <h3>消息推送</h3>
                <p>短信平台接口<br>Email 推送</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="在线支付" >

                <i class="fa fa-shield"></i>

                <h3>在线支付</h3>
                <p>支付宝、银联<br>Paypal 接口</p>
              </a>
            </div>

            <div class="mark-bin">
              <a title="论坛聚人" >

                <i class="fa fa-skyatlas"></i>

                <h3>论坛聚人</h3>
                <p>独立开发<br>会员打通</p>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>