<div class="window-bin" data-hash="worth">
  <div class="window-back swiper-lazy" data-title="品质" data-background="{{ asset('static/images/wp5.jpg','frontend') }}">
    {#<div class="worth-ctrl">
      <div class="ctrl-box ctrl-left"><i class="fa fa-angle-left"></i></div>
      <div class="ctrl-box ctrl-right"><i class="fa fa-angle-right"></i></div>
    </div>#}
    <div class="table-box">
      <div class="table-cell">
        <div class="title-box">
          <h1>RESPONSIVE</h1>
          <h2><font color=#fff>不同媒介，同样精彩 </font></h2>
        </div>
        <div class="worth-box">
          <div class="worth-cut">

            <div class="worth-bin">
              <p class="em-fa">
                <em class="fa fa-mobile"></em>
                <em class="fa fa-tablet"></em>
                <em class="fa fa-desktop"></em>
              </p>
              <p style="color:#e1e1e1;">触及视觉灵魂的设计趋势</p>
              <p style="color:#e1e1e1;">精心布局的用户体验</p>
              <p style="color:#e1e1e1;">毫无顾忌地通过任何终端</p>
              <p style="color:#e1e1e1;">呈现在客户的眼前</p></div>

            <div class="worth-bin">
              <p class="em-fa ef-32">
                <em class="fa fa-firefox"></em>
                <em class="fa fa-internet-explorer"></em>
                <em class="fa fa-chrome"></em>
                <em class="fa fa-safari"></em></p>
              <p style="color:#e1e1e1;">Html5 + CSS3 响应式布局</p>
              <p style="color:#e1e1e1;">卓越的浏览器兼容性</p>
              <p style="color:#e1e1e1;">因为高端，所以出众</p>
            </div>

            <div class="worth-bin">
              <p class="em-fa ef-32">
                <em class="fa fa-windows"></em>
                <em class="fa fa-apple"></em>
                <em class="fa fa-android"></em>
              </p>
              <p style="color:#e1e1e1;">基于 B/S 架构的网站建设</p>
              <p style="color:#e1e1e1;">无障碍的跨平台应用</p>
              <p style="color:#e1e1e1;">无须用户下载安装即可使用</p>
              <p style="color:#e1e1e1;">云端管理，轻松维护</p>
            </div>
          </div>
        </div>

        <div class="worth-text"><a style="cursor: pointer;" title="你以为看到了网站的全部？">你以为看到了网站的全部？</a></div>

      </div>
    </div>
  </div>
</div>