<div class="window-bin" data-hash="worth">
  <div class="window-back swiper-lazy" data-title="优势" data-background="{{ asset('static/images/wp5.jpg','frontend') }}">
    {#<div class="worth-ctrl">
      <div class="ctrl-box ctrl-left"><i class="fa fa-angle-left"></i></div>
      <div class="ctrl-box ctrl-right"><i class="fa fa-angle-right"></i></div>
    </div>#}
    <div class="table-box">
      <div class="table-cell">
        <div class="title-box">
          <h1>ADVANTAGE</h1>
          <h2><font color=#fff>三大优势，让您的品牌深入人心</font></h2>
        </div>
        <div class="worth-box">
          <div class="worth-cut">

            <div class="worth-bin">
              <p class="em-fa">
                <em class="fa fa-users"></em>
              </p>
              <p style="color:#fff;font-size:18px;">竞争优势</p>
              <p style="color:#fff;">专业的策略团队，定制策略</p>
              <p style="color:#fff;">提供整体解决方案</p>
              <p style="color:#fff;">使传播效果达到最大化</p></div>

            <div class="worth-bin">
              <p class="em-fa ef-32">
                <em class="fa fa-slideshare"></em>
			  </p>
			  <p style="color:#fff;font-size:18px;">团队优势</p>
              <p style="color:#fff;">执行力强的团队和专业设备</p>
              <p style="color:#fff;">具有多年的实战经验</p>
              <p style="color:#fff;">作品质量的保证</p>
            </div>

            <div class="worth-bin">
              <p class="em-fa ef-32">
                <em class="fa fa-film"></em>
              </p>
              <p style="color:#fff;font-size:18px;">制作优势</p>
              <p style="color:#fff;">严谨的工匠精神</p>
              <p style="color:#fff;">将为您带来更多可能</p>
              <p style="color:#fff;">保证了作品的完美执行</p>
            </div>
          </div>
        </div>

        <div class="worth-text"><a style="cursor: pointer;" title="见证盟邑数字科技的传奇世界！">见证盟邑数字科技的传奇世界！</a></div>

      </div>
    </div>
  </div>
</div>