<style>
    .dock{position:fixed;right:0;width:50px;-moz-opacity:.7;opacity:.7;z-index:200}.dock.close{z-index:50}.dock ul.icons{position:absolute;list-style:none;right:0;padding:0;width:50px;border:1px solid #333;border-right:0;background:#111;-moz-border-radius:10px 0 0 10px;-webkit-border-radius:10px 0 0 10px;border-radius:10px 0 0 10px;-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s}.dock.close ul.icons{right:-70px}.dock ul.icons li i{display:block;position:relative;width:50px;height:50px;background:url(/static/images/icons.png) no-repeat;cursor:pointer;-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s;z-index:210}.dock ul.icons li.active i{-moz-opacity:.4;opacity:.4}.dock ul.icons li.up i{background-position:-63px -150px}.dock ul.icons li.tel i{background-position:-62px -108px}.dock ul.icons li.im i{background-position:-63px -20px}.dock ul.icons li.wechat i{background-position:-59px -66px}.dock ul.icons li.down i{background-position:-63px -190px}.dock ul.icons li p{display:block;position:absolute;top:50px;right:-260px;padding:15px 20px;height:120px;color:White;line-height:30px;border:1px solid #333;border-right:0;background:#111;-moz-border-radius:10px 0 0 10px;-webkit-border-radius:10px 0 0 10px;border-radius:10px 0 0 10px;-moz-opacity:0;opacity:0;filter:alpha(opacity=0);-webkit-transition:all .4s ease-in-out .1s;-moz-transition:all .4s ease-in-out .1s;-ms-transition:all .4s ease-in-out .1s;-o-transition:all .4s ease-in-out .1s;transition:all .4s ease-in-out .1s;overflow:hidden;z-index:201}.dock ul.icons li.active p{right:50px;-moz-opacity:1;opacity:1;filter:alpha(opacity=100)}.dock ul.icons li.im p{width:156px;height:152px}.dock ul.icons li.im p a{display:block;margin-top:12px;width:100px;height:35px;line-height:32px;color:#00dfb9;font-size:16px;text-align:center;text-decoration:none;border:1px solid #00dfb9;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-webkit-transition:all .3s ease-in-out 0s;-moz-transition:all .3s ease-in-out 0s;-ms-transition:all .3s ease-in-out 0s;-o-transition:all .3s ease-in-out 0s;transition:all .3s ease-in-out 0s}.dock ul.icons li.im p a:hover{color:White;background:#0f8773;border:1px solid #0f8773}.dock ul.icons li.tel p{top:50px;width:241px;height:152px}.dock ul.icons li.tel p .callback{display:inline-block;margin-top:15px}.dock ul.icons li.tel p .callback input{float:left;padding-left:35px;width:170px;height:30px;font-family:Arial,"微软雅黑";font-size:16px;font-weight:bold;color:#00dfb9;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;border:1px solid #00dfb9;background:url(/static/images/icons.png) no-repeat 8px -674px;background-color:transparent;outline:0;cursor: default;}.dock ul.icons li.tel p .callback input.focus{background-position:8px -674px}.dock ul.icons li.tel p .callback button{float:left;padding:0 9px;height:30px;color:#00dfb9;font-size:16px;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;border:1px solid #00dfb9;border-left:none;background:transparent;outline:0}.dock ul.icons li.wechat p{width:159px;height:152px}.dock ul.icons li.wechat p img{width:115px;border:2px solid White;background-color: white;}.dock a.switch{position:absolute;display:block;top:270px;right:11px;width:26px;height:26px;background:url(/static/images/icons.png) no-repeat 0 -640px;cursor:pointer;-webkit-transition-delay:.15s;-moz-transition-delay:.15s;-ms-transition-delay:.15s;-o-transition-delay:.15s;transition-delay:.15s}.dock a.switch.off{background-position:-32px -640px}@media(max-width:700px),(max-height:600px){.dock{display:none}}
</style>
<div class="dock" style="height: 296px; top: 200px;">
    <ul class="icons">
        <li class="up"><i></i></li>
        <li class="im">
            <i></i><p>盟邑数字科技<br>在线沟通，请点我<a href="http://wpa.qq.com/msgrd?v=3&uin=187060646&site=qq&menu=yes" target="_blank">在线咨询</a></p>
        </li>
        <li class="tel">
            <i></i><p>24小时咨询热线：<span class="callback"><input type="text" maxlength="12" value="021-52855980" style="margin-bottom: 10px;" disabled>
                    <input type="text" maxlength="12" value="18121113312" disabled></span></p>
        </li>
        <li class="wechat">
            <i></i><p><img src="/static/images/wechat_code.svg" alt="扫描关注微信公众号"></p>
        </li>
        <li class="down"><i></i></li>
    </ul>
    <a class="switch"></a>
</div>
<script>
    $('.dock li.im,.dock li.tel,.dock li.wechat').on('mouseover',function () {
        $(this).addClass('active')
    })
    $('.dock li.im,.dock li.tel,.dock li.wechat').on('mouseout',function () {
        $(this).removeClass('active')
    })
    $('.dock a.switch').on('click',function () {
        $('.dock').css('display','none')
    })
</script>