<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  {% block title %}
  <title></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  {% endblock %}
  <link rel="stylesheet" href="{{ asset('plugins/bootstrap/dist/css/bootstrap.min.css','frontend') }}">
  {% block css %}
  {% endblock %}
</head>

<body class="{% if app.request.attributes.get('_route')!='home'  %}active{% endif %}">
{% block content %}{% endblock %}


<script src="{{ asset('plugins/jquery/dist/jquery.min.js','frontend') }}"></script>
<script src="{{ asset('plugins/bootstrap/dist/js/bootstrap.min.js','frontend') }}"></script>
{% block js %}{% endblock %}
</body>
</html>