<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  {% block title %}
  <title></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  {% endblock %}
  <link rel="stylesheet" href="{{ asset('plugins/bootstrap/dist/css/bootstrap.min.css','frontend') }}">
  {% block css %}
  {% endblock %}
</head>

<body>
{% block content %}{% endblock %}
<div class="dock">
  <ul class="icons">
    <li class="up" onclick="$(window).scrollTop(1)"><i></i></li>
    <li class="tel" onmouseover="$(this).addClass('active')" onmouseout="$(this).removeClass('active')">
      <i></i><p>建站咨询热线<br />4006-000-000</p>
    </li>
    <li class="im"  onmouseover="$(this).addClass('active')" onmouseout="$(this).removeClass('active')">
      <i></i><p><a href="javascrtipt:void(0);" target="_blank">点我，建站咨询</a></p>
    </li>
  </ul>
</div>

<script src="{{ asset('plugins/jquery/dist/jquery.min.js','frontend') }}"></script>
<script src="{{ asset('plugins/bootstrap/dist/js/bootstrap.min.js','frontend') }}"></script>
{% block js %}{% endblock %}
</body>
</html>